<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--     索引下表注入-->
<!--    <bean id="user" class="com.User">-->
<!--        <constructor-arg index="0" value="aabb"/>-->
<!--    </bean>-->
<!--    类型注入  不建议使用-->
<!--    <bean id="user" class="com.User">-->
<!--        <constructor-arg type="java.lang.String" value="bbcc"/>-->
<!--    </bean>-->
<!--    属性名注入-->
    <bean id="user" class="com.User">
        <constructor-arg name="name" value="ccc"/>
    </bean>
    <bean id="userT" class="com.UserT" name="t t1,t2,t3">
        <constructor-arg name="name" value="李海洋"/>
    </bean>
</beans>